* {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

a:hover , 
ol li:hover {
    background-color: chartreuse;
    color: black;
}

div.index h1 , 
div.index ul ,
.title {
    text-align: center;
    margin-top: 200px;
}

div.index ul {
    margin: 0;
    padding: 0;
}

div.index h1,
.title {
    background-color: chartreuse;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    color: black;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 12px;
    flex-wrap: wrap;
}

.card {
    width: 450px;
}

@media (min-width: 750px) {
    .recipe {
       flex-direction: row;
    }
}

@media (max-width: 600px) {
    img,
    .card,
    .title {
        max-width: 300px;
        height: auto;
    }
}